<template>
    <v-app>
        <v-toolbar app color="blue darken-3">
            <v-toolbar-title class="white--text" style="font-size: 20pt">
                <b>PEMAZA</b>
            </v-toolbar-title>
        </v-toolbar>

        <v-content>
            <v-container >
                <Usuarios></Usuarios>
            </v-container>
        </v-content>
        <v-footer app></v-footer>
    </v-app>
</template>

<script>
    import Usuarios from '../components/Usuarios';

    export default {
        name: "App",
        components: {
            Usuarios
        }
    }
</script>

<style scoped>

</style>
