<template>
    <v-container grid-list-md text-xs-center>
        <v-toolbar flat color="white">
            <v-toolbar-title class="text-xs-left">
                PMZ
            </v-toolbar-title>

            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn slot="activator" color="success" dark class="mb-2" outline>
                    <v-icon dark left>
                        add_circle_outline
                    </v-icon>
                   Novo
                </v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-flex xs10 offset-xs1>
                        <v-alert v-model="alert"
                                 dismissible
                                 color="warning"
                                 icon="priority_high"
                        >
                            <li v-for="error in errorsForm"> {{ error }}</li>
                        </v-alert>

                    </v-flex>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.nome_usuario"
                                                  :rules="[rules.required]"
                                                  label="Nome"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.email"
                                                  :rules="[rules.required, rules.email]"
                                                  label="Email"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.login"
                                                  :rules="[rules.required]"
                                                  label="Login"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6 v-if="editedIndex === -1">
                                    <v-text-field
                                        v-model="editedItem.senha"
                                        :append-icon="show1 ? 'visibility_off' : 'visibility'"
                                        :rules="[rules.required]"
                                        :type="show1 ? 'text' : 'password'"
                                        name="input-10-1"
                                        label="Senha"
                                        counter
                                        @click:append="show1 = !show1"
                                    ></v-text-field>

                                </v-flex>

                                <v-flex xs12 sm6>
                                    <v-select
                                        :items="perfis"
                                        v-model="editedItem.perfis_selected"
                                        label="Perfis"
                                        multiple
                                        chips
                                        item-text="nome_perfil"
                                        item-value="id_perfil"
                                        hint="Selecione os perfis do usuário"
                                        persistent-hint
                                    ></v-select>
                                </v-flex>

                                <v-flex xs12 sm6>
                                    <v-select
                                        :items="aparelhos"
                                        v-model="editedItem.aparelhos_selected"
                                        label="Aparelhos"
                                        multiple
                                        chips
                                        item-text="codigo_aparelho"
                                        item-value="id_aparelho"
                                        hint="Selecione os aparelhos do usuário"
                                        persistent-hint
                                    ></v-select>
                                </v-flex>

                                <v-flex xs12 sm8 md4>
                                    <v-flex xs4>Registro</v-flex>
                                    <v-checkbox v-model="editedItem.status_usuario"
                                                color="success"
                                                label="Ativo">
                                    </v-checkbox>
                                </v-flex>

                                <v-flex xs12 sm6 md8>
                                    <v-text-field v-model="editedItem.cod_autorizacao"
                                                  :rules="[rules.required]"
                                                  label="Código de autorização">
                                    </v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Salvar Cadastro</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-card

        >
            <v-card-title>
               Usuários
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="BUSCAR"
                    single-line
                    hide-details
                >
                </v-text-field>
            </v-card-title>

            <v-data-table
                :headers="headers"
                :items="desserts"
                class="elevation-1"
                :search="search"
                loading
            >
                <v-progress-linear slot="progress" color="secondary"
                                   :active="progress.active"
                                   :indeterminate="progress.query"
                                   v-model="progress.value"
                ></v-progress-linear>
                <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.cod_pessoa }}</td>
                    <td class="text-xs-left">{{ props.item.nome_usuario }}</td>
                    <td class="text-xs-left">
                    <span v-if="props.item.status_usuario">
                        <v-icon color="success">check</v-icon>
                    </span>
                        <span v-else>
                        <v-icon color="error">close</v-icon>
                    </span>
                    </td>
                    <td class="align-center layout px-0">
                        <v-tooltip bottom>
                            <v-icon
                                slot="activator"
                                small
                                class="mr-2"
                                @click="detailsItem(props.item)"
                                color="info"
                            >
                                info
                            </v-icon>
                            <span>Mais Detalhes</span>
                        </v-tooltip>

                        <v-tooltip bottom>
                            <v-icon
                                slot="activator"
                                small
                                class="mr-2"
                                @click="editItem(props.item)"
                                color="warning"
                            >
                                edit
                            </v-icon>
                            <span>Editar</span>
                        </v-tooltip>

                        <v-tooltip bottom>
                            <v-icon
                                slot="activator"
                                small
                                class="mr-2"
                                @click="deleteItem(props.item)"
                                color="error"
                            >
                                delete
                            </v-icon>
                            <span>Excluir</span>
                        </v-tooltip>
                    </td>


                </template>
                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                    Não foi encontrado resultados para a sua pesquisa "{{ search }}".
                </v-alert>
                <template slot="no-data">
                    <v-alert :value="true" color="info" icon="warning">
                        Sem registro no banco de dados
                    </v-alert>
                    <v-btn
                        :loading="this.progress.active"
                        :disabled="this.desserts.length > 0"
                        color="secondary"
                        @click="initialize"
                    >
                        Atualizar
                        <span slot="loader" class="custom-loader">
                        <v-icon light>refresh</v-icon>
                    </span>
                    </v-btn>
                </template>
            </v-data-table>
        </v-card>

        <v-snackbar
            v-model="snackbar.active"
            :color="snackbar.color"
            :timeout="snackbar.timeout"
        >
            {{ snackbar.text }}
            <v-btn
                dark
                flat
                @click="(snackbar.action === 'create' || snackbar.action === 'edit') ? save() :
                        (snackbar.action === 'delete') ? deleteItem(snackbar.item) :
                        (snackbar.action === 'restoreDelete') ? restoreLastItem() :
                         snackbar.active = false"
            >
                <span v-if="snackbar.action === null">
                    Fechar
                </span>

                <span
                    v-else-if="(snackbar.action === 'create') || (snackbar.action === 'edit') || (snackbar.action === 'delete')">
                    Tentar Novamente
                </span>

                <span v-else>
                    Desfazer
                </span>
            </v-btn>
        </v-snackbar>

        <v-layout row justify-center>
            <v-dialog v-model="dialog1" fullscreen hide-overlay transition="dialog-bottom-transition">
                <v-card>
                    <v-toolbar dark color="primary">
                        <v-btn icon dark @click="close1()">
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>
                            Detalhes do usuário: {{ detailItem.cod_pessoa }} - {{ detailItem.nome_usuario }}
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>

                    <v-card>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                    <strong>Login: </strong>
                                    <small>{{ detailItem.login }}</small>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <b>Email: </b>
                                    <small>{{ detailItem.email }}</small>

                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <b>Status: </b>
                                    <small>{{ detailItem.status_usuario == true ? 'Ativo' : 'Inativo' }}</small>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                    <v-flex
                        xs12
                    >
                        <v-expansion-panel>
                            <v-expansion-panel-content
                            >
                                <div slot="header">
                                    PERFIS DO USUÁRIO
                                </div>
                                <v-card>
                                    <v-btn
                                        :disabled="detailItem.perfis.length == 0"
                                        color="secondary"
                                        @click="exportItem(detailItem, 'perfis', 'pdf')"
                                    >
                                        <v-icon light>cloud_download</v-icon>
                                        <v-spacer></v-spacer>
                                        PDF
                                    </v-btn>
                                    <v-btn
                                        :disabled="detailItem.perfis.length == 0"
                                        color="secondary"
                                        @click="exportItem(detailItem, 'perfis', 'csv')"
                                    >
                                        <v-icon light>cloud_download</v-icon>
                                        <v-spacer></v-spacer>
                                        CSV
                                    </v-btn>
                                    <v-btn
                                        :disabled="detailItem.perfis.length == 0"
                                        color="secondary"
                                        @click="exportItem(detailItem, 'perfis', 'txt')"
                                    >
                                        <v-icon light>cloud_download</v-icon>
                                        <v-spacer></v-spacer>
                                        TXT
                                    </v-btn>

                                    <v-data-table
                                        :headers="[{
                                         text: 'Perfil',
                                         value: 'nome_perfil',
                                         align: 'center',
                                         sortable: false
                                    }]"
                                        :items="detailItem.perfis"
                                        class="elevation-1"
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td class="text-xs-center">{{ props.item.nome_perfil }}</td>
                                        </template>
                                    </v-data-table>
                                </v-card>
                            </v-expansion-panel-content>

                            <v-expansion-panel-content
                            >
                                <div slot="header">APARELHOS DO USUÁRIO</div>
                                <v-card>
                                    <v-card>
                                        <v-btn
                                            :disabled="detailItem.aparelhos.length == 0"
                                            color="secondary"
                                            @click="exportItem(detailItem, 'aparelhos', 'pdf')"
                                        >
                                            <v-icon light>cloud_download</v-icon>
                                            <v-spacer></v-spacer>
                                            PDF
                                        </v-btn>
                                        <v-btn
                                            :disabled="detailItem.aparelhos.length == 0"
                                            color="secondary"
                                            @click="exportItem(detailItem, 'aparelhos', 'csv')"
                                        >
                                            <v-icon light>cloud_download</v-icon>
                                            <v-spacer></v-spacer>
                                            CSV
                                        </v-btn>
                                        <v-btn
                                            :disabled="detailItem.aparelhos.length == 0"
                                            color="secondary"
                                            @click="exportItem(detailItem, 'aparelhos', 'txt')"
                                        >
                                            <v-icon light>cloud_download</v-icon>
                                            <v-spacer></v-spacer>
                                            TXT
                                        </v-btn>

                                        <v-data-table
                                            :headers="[{
                                         text: 'Código',
                                         value: 'codigo_aparelho',
                                         align: 'center',
                                         sortable: true
                                        },
                                        {
                                         text: 'Descrição',
                                         value: 'descricao_aparelho',
                                         align: 'left',
                                         sortable: false
                                    }
                                    ]"
                                            :items="detailItem.aparelhos"
                                            class="elevation-1"
                                        >
                                            <template slot="items" slot-scope="props">
                                                <td class="text-xs-center">{{ props.item.codigo_aparelho }}</td>
                                                <td class="text-xs-center">{{ props.item.descricao_aparelho }}</td>
                                            </template>
                                        </v-data-table>
                                    </v-card>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-flex>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "Usuarios",
        data: () => ({
            dialog: false,
            dialog1: false,
            search: '',
            progress: {
                active: false,
                query: false,
                value: 0
            },
            snackbar: {
                item: null,
                active: false,
                timeout: 5000,
                color: 'info',
                action: null,
                text: ''
            },
            headers: [
                {
                    text: 'Código',
                    value: 'cod_pessoa',
                    align: 'left'
                },
                {
                    text: 'Nome Completo',
                    sortable: false,
                    align: 'left',
                    value: 'nome_usuario'
                },
                {text: 'Registro', value: 'registro', sortable: false},
                {
                    text: '',
                    value: 'acoes',
                    align: 'left',
                    sortable: false
                }
            ],
            aparelhos: [],
            perfis: [],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                nome_usuario: '',
                email: '',
                login: '',
                senha: '',
                status_usuario: '',
                cod_autorizacao: '',
                perfis: [],
                aparelhos: [],
                perfis_selected: [],
                aparelhos_selected: [],
            },
            detailItem: {
                nome_usuario: '',
                email: '',
                login: '',
                status_usuario: '',
                cod_autorizacao: '',
                perfis: [],
                aparelhos: []
            },
            defaultItem: {
                nome_usuario: '',
                email: '',
                login: '',
                senha: '',
                status_usuario: '',
                cod_autorizacao: '',
                perfis: [],
                aparelhos: []
            },
            show1: false,
            password: 'Password',
            rules: {
                required: value => !!value || 'Este campo é obrigatório.',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Email Inválido.'
                }
            },

            alert: false,
            erros_form: []
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Novo Cadastro' : `Editar Cadastro: ${this.editedItem.cod_pessoa}`
            },

            errorsForm() {
                return this.erros_form
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },

        created() {
            this.initialize()
        },

        methods: {
            initialize() {
                this.getUsuarios();
                this.getPerfis();
                this.getAparelhos();

            },

            getUsuarios() {
                this.progress.active = true;
                this.progress.query = true;

                this.desserts = [];

                axios.get('api/usuario/get')
                    .then(response => {
                        this.progress.query = false;
                        this.progress.value = 100;

                        let data = response.data.data;

                        if (data.length > 0) {
                            this.desserts = data.map(item => {
                                return {
                                    id_usuario: item.id_usuario,
                                    cod_pessoa: item.cod_pessoa,
                                    cod_autorizacao: item.cod_autorizacao,
                                    nome_usuario: item.nome_usuario,
                                    email: item.email,
                                    login: item.login,
                                    status_usuario: item.status_usuario == 'A' ? true : false,
                                    perfis: item.perfis,
                                    aparelhos: item.aparelhos,
                                    perfis_selected: item.perfis.length > 0 ? item.perfis.map(item =>{
                                        return item.id_perfil;
                                    }) : [],
                                    aparelhos_selected: item.aparelhos.length > 0 ? item.aparelhos.map(item =>{
                                        return item.id_aparelho;
                                    }) : []
                                }
                            });
                        }

                        this.progress.active = false;
                    })
                    .catch(error => {
                        this.desserts = [];

                        this.progress.active = false;

                        this.snackbar.text = `Não foram encontrados registros de usuários.`;

                        if (error.response.data.message) {
                            this.snackbar.text = error.response.data.message;
                        }

                        this.snackbar.color = 'error';
                        this.snackbar.active = true;
                        this.snackbar.action = null;

                    });
            },

            getPerfis() {
                this.perfis = [];

                axios.get('api/perfil/get')
                    .then(response => {
                        let data = response.data.data;

                        if (data.length > 0) {
                            this.perfis = data.map(item => {
                                return {
                                    id_perfil: item.id_perfil,
                                    nome_perfil: item.nome_perfil,
                                }
                            });
                        }
                    })
                    .catch(error => {
                        this.perfis = [];
                    });
            },

            getAparelhos() {
                this.aparelhos = [];

                axios.get('api/aparelho/get')
                    .then(response => {
                        let data = response.data.data;

                        if (data.length > 0) {
                            this.aparelhos = data.map(item => {
                                return {
                                    id_aparelho: item.id_aparelho,
                                    codigo_aparelho: item.codigo_aparelho,
                                    descricao_aparelho: item.descricao_aparelho,
                                }
                            });
                        }
                    })
                    .catch(error => {
                        this.aparelhos = [];
                    });
            },

            save() {
                if (this.editedIndex > -1) {
                    this.userUpdate(this.editedItem);
                } else {
                    this.userStore(this.editedItem);
                }
            },

            userStore(item) {
                this.progress.active = true;
                this.progress.query = true;

                axios.post('api/usuario/salvar', {
                    nome_usuario: item.nome_usuario,
                    cod_autorizacao: item.cod_autorizacao,
                    email: item.email,
                    login: item.login,
                    senha: item.senha,
                    status_usuario: item.status_usuario === true ? 'A' : 'I',
                    perfis: item.perfis_selected,
                    aparelhos: item.aparelhos_selected,
                })
                    .then(response => {
                        this.initialize();
                        this.snackbar.text = `Registro de "${item.nome_usuario}" foi cadastrado com sucesso`;
                        this.snackbar.color = 'success';
                        this.snackbar.active = true;
                        this.close();

                    })
                    .catch(error => {
                        this.progress.active = false;

                        this.snackbar.item = item;

                        this.snackbar.text = `Não foi possível salvar o registro de "${item.nome_usuario}"`;

                        if (error.response.data.message) {
                            this.snackbar.text = error.response.data.message;

                            if (error.response.data.errors) {
                                this.alert = true;
                                this.erros_form = error.response.data.errors;
                            }
                        }


                        this.snackbar.color = 'error';
                        this.snackbar.action = null;
                        this.snackbar.active = true;
                    });
            },

            userUpdate(item) {
                this.progress.active = true;
                this.progress.query = true;

                axios.put(`api/usuario/atualizar/${item.id_usuario}`, {
                    nome_usuario: item.nome_usuario,
                    cod_autorizacao: item.cod_autorizacao,
                    email: item.email,
                    login: item.login,
                    status_usuario: item.status_usuario === true ? 'A' : 'I',
                    aparelhos: item.aparelhos_selected,
                    perfis: item.perfis_selected,
                })
                    .then(response => {
                        this.initialize();

                        this.snackbar.text = `Registro de "${item.nome_usuario}" atualizado com sucesso`;
                        this.snackbar.color = 'success';
                        this.snackbar.action = null;
                        this.snackbar.active = true;

                        this.close();
                    })
                    .catch(error => {
                        this.progress.active = false;

                        this.snackbar.item = item;

                        this.snackbar.text = `OPS!! Não foi possível atualizar o registro de "${item.nome_usuario}"`;

                        if (error.response.data.message) {
                            this.snackbar.text = error.response.data.message;

                            if (error.response.data.errors) {
                                this.alert = true;
                                this.erros_form = error.response.data.errors;
                            }
                        }

                        this.snackbar.color = 'error';
                        this.snackbar.action = null;
                        this.snackbar.active = true;
                    });
            },

            detailsItem(item) {
                this.detailItem = Object.assign({}, item)
                this.dialog1 = true
            },

            editItem(item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                this.progress.active = true;
                this.progress.query = true;

                this.snackbar.item = item;

                axios.delete(`api/usuario/delete/${item.id_usuario}`)
                    .then(response => {
                        this.snackbar.text = `Registro de "${item.nome_usuario}" foi excluido com sucesso`;
                        this.snackbar.color = 'success';
                        this.snackbar.action = 'restoreDelete';
                        this.snackbar.active = true;

                        this.initialize();
                    })
                    .catch(error => {
                        this.progress.active = false;

                        this.snackbar.text = `Não foi possível excluir o registro de "${item.nome_usuario}"`;

                        if (error.response.data.message) {
                            this.snackbar.text = error.response.data.message;
                        }

                        this.snackbar.color = 'error';
                        this.snackbar.action = 'delete';
                        this.snackbar.active = true;
                    });
            },

            restoreLastItem() {
                let item = this.snackbar.item;
                this.snackbar.item = null;

                this.progress.active = true;
                this.progress.query = true;

                if (item != null) {
                    axios.get(`api/usuario/restore/${item.id_usuario}`)
                        .then(response => {
                            this.snackbar.text = `Registro de "${item.nome_usuario}" foi recuperado`;
                            this.snackbar.color = 'info';
                            this.snackbar.active = true;
                            this.snackbar.action = null;

                            this.initialize();
                        })
                        .catch(error => {
                            this.progress.active = false;

                            this.snackbar.item = item;

                            this.snackbar.text = `Não foi possível recuperar o registro de "${item.nome_usuario}"`;

                            if (error.response.data.message) {
                                this.snackbar.text = error.response.data.message;
                            }

                            this.snackbar.color = 'error';
                            this.snackbar.action = 'restoreDelete';
                            this.snackbar.active = true;
                        });
                }
            },

            exportItem(item, type, file) {
                let url = `api/usuario/export/${type}/${file}/${item.id_usuario}`;

                axios({
                    url: url,
                    method: 'GET',
                    responseType: 'blob', // important
                    headers: {'Accept': 'application/vnd.ms-excel'}
                })
                    .then(response => {
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;

                        link.setAttribute('download', `usuario_${type}.${file}`);
                        document.body.appendChild(link);
                        link.click();

                        this.snackbar.text = `Registro de "${item.nome_usuario}" foi exportado para ${file} com sucesso`;
                        this.snackbar.color = 'info';
                        this.snackbar.active = true;
                        this.snackbar.action = null;


                    })
                    .catch(error => {
                        this.snackbar.text = `Não foi possível exportar o registro de "${item.nome_usuario}" para ${file}.`;

                        this.snackbar.color = 'warning';
                        this.snackbar.active = true;
                        this.snackbar.action = null;
                    });
            },

            close() {
                this.dialog = false;
                this.alert = false;
                this.erros_form = [];

                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            close1() {
                this.dialog1 = false;

                setTimeout(() => {
                    this.detailItem = Object.assign({}, this.defaultItem)
                }, 300)
            }
        }
    }
</script>

<style scoped>
    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }

    @-moz-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @-o-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
</style>
